<div class="container">
    <div class="table-container">
      <table class="tables">
        <thead>
          <tr>
            <th colspan="8">
              <h1 class="title text-center">Listado de Proveedores:</h1>
              <form class="d-flex align-items-center" (submit)="onSearch()">
                <input class="form-control me-2" type="search" placeholder="Buscar proveedor..." aria-label="Search" [(ngModel)]="searchTerm" name="searchTerm">
                <button class="btn btn-secondary me-2 " type="submit">Buscar</button>
              </form>
              <div *ngIf="showAddSupplierForm" class="overlay boom">
                <app-form (onCancel)="cancelAddSupplier()"></app-form>
              </div>
              <div *ngIf="showEditSupplierForm" class="overlay boom">
                <app-form-update [supplier]="selectedSupplier" (onCancel)="cancelEditSupplier()"></app-form-update>
              </div>
              <div class="mt-2">
                <button class="btn btn-outline-info w-100" (click)="toggleAddSupplierForm()"><i class="fa-solid fa-plus"></i> Añadir proveedor</button>
              </div>
            </th>
          </tr>
          <tr>
            <th class="text-center">Ruc</th>
            <th>Empresa</th>
            <th class="text-center">Dirección</th>
            <th>Encargado</th>
            <th>Nro encargado</th>
            <th>Ciudad</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <!-- Contenido de la tabla -->
        <tbody>
          <tr *ngFor="let supplier of getCategoriesForPage()" [ngClass]="{'fade-in': applyAnimation}">
            <td class="text-center">{{ supplier.ruc  }}</td>
            <td>{{ supplier.empresa }}</td>
            <td>{{supplier.calle_1}}, {{supplier.nro_casa}} {{supplier.calle_2}} </td>
            <td> {{supplier.encargado}}</td>
            <td> {{supplier.nro_encargado}} </td>
            <td>{{supplier.fk_ciudad.nombre}} </td>
            <td class="text-center">
                <button class="btn btn-primary w-50" (click)="toggleEditSupplierForm(supplier)"><i class="fa-solid fa-pen-to-square "></i></button>
                <button class="btn btn-danger text-white w-50" (click)="deleteSupplier(supplier)"><i class="fa-solid fa-trash"></i></button>
              </td>
          </tr>
          <tr *ngIf="getCategoriesForPage().length === 0">
            <td colspan="8" class="text-center">No se encontraron proveedores.</td>
          </tr>
          <tr>
            <th colspan="8">
              <h5 class="mt-2 text-end mx-4">Items total: {{totalSupplier}} </h5>
            </th>
        </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center mt-3">
        <button class="btn rounded-5 btn-primary me-2" (click)="previousPage()" [disabled]="currentPage === 0"><i class="fa-solid fa-chevron-left"></i></button>
        <div class="mt-2 text-white">
          Página {{ currentPage + 1 }} de {{ getPageNumbers().length }}
        </div>
        <button class="btn rounded-5 btn-primary mx-2 " (click)="nextPage()" [disabled]="currentPage === getPageNumbers().length - 1"><i class="fa-solid fa-chevron-right"></i></button>
      </div>
    </div>
  </div>

