a{
    text-decoration: none;
}
.container{
    margin-top: 5rem;
}
.tarjeta-productos {
    margin:20px auto ;
    max-width: 350px;
    height: 150px; /* Reducir el ancho máximo de la tarjeta */
    background-color: rgb(145, 151, 158); /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 15px; /* Reducir el espaciado interno */
    transition: transform 0.3s; 
    box-shadow: 0 4px 8px rgba(219, 218, 218, 0.1);
}
.tarjeta-productos:hover {
    transform: scale(1.05);
}
.tarjeta-productos i {
    font-size: 36px;
    color: #ffffff;
}

.tarjeta-productos .cantidad {
    font-size: 18px;
    color: #ffffff; 
    margin-bottom: 5px;
}

.tarjeta-productos .titulo {
    font-size: 20px; 
    color: #ffffff; 
    margin: 0;
}
