<div class="flex justify-content-center align-items-center h-screen">
    <div class=" surface-card p-4 shadow-2 border-round w-full lg:w-6 ">
    <p-button icon="pi pi-angle-left" class="absolute" (onClick)="pageRedirection()" [rounded]="true"></p-button>
        <div class="text-center mb-2">
            <img src="../../../assets/img/LOGO-TORCAN.png" alt="Image" height="50" class="mb-3">
            <div class="text-900 text-3xl font-medium">Recuperar contraseña</div>
        </div>
        <form [formGroup]="formForgot" (ngSubmit)="enviar()">
        <div>
            <label for="cedula" class="block text-900 font-medium mb-2">Usuario:</label>
            <input id="cedula" type="text" placeholder="Usuario" pInputText class="w-full mb-2" formControlName="cedula" [class]="getControlClasses('cedula')">
            <small class="text-red-700 mb-2" *ngIf="cedulaInvalid" >
                *Por favor, ingrese correctamente el usuario (Número de cedula).
            </small>

            <label for="email" class="block text-900 font-medium mb-2 mt-2">Correo electrónico:</label>
            <input id="email" type="text" placeholder="Correo electrónico" pInputText class="w-full mb-2" formControlName="email" [class]="getControlClasses('email')">
            <small class="text-red-700" *ngIf="emailInvalid" >
                *Por favor, ingrese correctamente el correo electrónico.
            </small>
            <div class="mt-3 text-center">
                <button pButton pRipple type="submit" label="Recuperar contraseña" icon="pi pi-user" class="w-6" [disabled]="envioExitoso"></button>
            </div>
        </div>
        </form>
        <p-toast></p-toast>
        <app-spinner *ngIf="loading"></app-spinner>
    </div>
</div>
