
<div class="container">
    <div class="row align-items-stretch">
      <div class="col-md-6">
        <!-- Imagen -->
        <img src="../../../assets/img/torcan.jpg" class="img-fluid" alt="Imagen">
      </div>
      <div class="col-md-6">
        <div class="card h-100 custom-card">
          <div class="card-body d-flex flex-column justify-content-center">
            <h1 class="text-center mb-4">Nueva contraseña:</h1>
            <form id="passwordRecoveryForm" [formGroup]="passwordForm" (ngSubmit)="enviar(resetToken)">
              <div class="form-group mb-3">
                <label for="password">Nueva contraseña</label>
                <input 
                  type="password"
                  class="form-control" 
                  id="nuevaContrasena" 
                  placeholder="Ingresa tu contraseña" 
                  name="nuevaContrasena"
                  formControlName="nuevaContrasena">
                <small *ngIf='contrasenaInvalid' class="text-danger text-bold">
                  Por favor, ingrese una contraseña fuerte(8 carácteres mínimo, una mayúscula, una minúscula, un número y un carácter especial)*
                </small>
              </div>
              <div class="form-group mb-3">
                <label for="verificarContrasena">Confirmar contraseña</label>
                <input 
                    type="password" 
                    class="form-control" 
                    id="verificarContrasena" 
                    placeholder="Ingresa nuevamente la contraseña" 
                    formControlName="verificarContrasena">
                <small *ngIf="passwordForm.hasError('notSame')" class="text-danger text-bold">
                    La contraseña no coincide.
                </small>
              </div>
              <button type="submit" class="btn btn-primary btn-block w-100 mt-3">Recuperar Contraseña</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


