@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(18, 64, 116, 0.6), rgba(18, 64, 116, 0.6)), url(../../../assets/img/Fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
h1{
    font-weight:500;
}
.custom-card {
    color: white;
    background-color: #124074;
    margin: auto;
    padding: 20px;
    border-radius: 0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  }
label{
    font-size: 20px;
    font-weight: 400;
  }
.custom-card input{
    height: 50px;
    padding: 10px;
    font-size: large;
  }
a{
    text-decoration: none;
}

button{
    font-size: large;
    background-color:#8ea9c4;
    height: 50px;
  }
  