
.container{
    margin-top: 5rem;
    padding-bottom: 15px;
}

.title {
    color: #f2efe6; 
}
.tables {
    width: 100%;
    margin-bottom: 15px;
}

.tables th {
    background-color: rgba(34, 34, 34, 0.9);
    padding: 8px;
    border: 1px solid #dee2e6;
    color: #f2efe6;
}

.tables td {
    padding: 8px;
    border: 1px solid #dee2e6;
    color: #f2efe6;
    background-color: rgba(145, 151, 158, 0.9);
    text-transform: capitalize;
}

.tables th:nth-child(1),
.tables td:nth-child(1) {
  width: 10%;
}

.tables th:nth-child(2),
.tables td:nth-child(2) {
  width: 70%; 
}

.tables th:nth-child(3),
.tables td:nth-child(3) {
  width: 20%; 
}

.fade-in {
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
