<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="side-nav-button me-2 text-white" (click)="sideNavToggle()">
      <i class="fa-solid fa-bars fa-2x btn"></i>
    </div>
    <a class="navbar-brand mt-2" href="/home"><img class="logo" src="../../../assets/img/LOGO-TORCAN.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#">Torcan storage</a>
        </li>
      </ul>
      <ul class="navbar-nav me-3 mb-2 mb-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Perfil
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Ver perfil</a></li>
        </ul>
      </li>
    </ul>
        <button class="btn btn-outline-info" type="submit">Cerrar sesión</button>
    </div>
  </div>
</nav>
