.side-nav-button i{
    color: white;
}
.side-nav-button i:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
.logo{
    width: 150px;
}
.dropdown-menu{
    background-color:#464648 ;
}
.dropdown-item{
    color: white;
}
.dropdown-item:hover{
    color: black;
    background-color: #0dcaf0;
}
nav{
    background-color: #464648;
}
