
<div class="container">
  <div class="row align-items-stretch">
    <div class="col-md-6">
      <!-- Imagen -->
      <img src="../../../assets/img/torcan.jpg" class="img-fluid" alt="Imagen">
    </div>
    <div class="col-md-6">
      <div class="card h-100 custom-card">
        <div class="card-body d-flex flex-column justify-content-center">
          <h1 class="text-center mb-4">Recuperar Contraseña:</h1>
          <form id="passwordRecoveryForm" [formGroup]="forgot_form" (ngSubmit)="enviar()">
            <div class="form-group mb-3">
              <label for="cedula">Usuario:</label>
              <input type="text" class="form-control" id="cedula" formControlName="cedula" placeholder="Ingresa tu usuario">
              <small class="text-danger text-bold" *ngIf='cedulaInvalid'>
                Por favor, ingrese correctamente el usuario (Número de cedula).*
              </small>
            </div>
            <div class="form-group mb-3">
              <label for="email">Correo electrónico:</label>
              <input type="text" class="form-control" formControlName="email" id="email" placeholder="Ingresa tu correo electrónico">
              <small class="text-danger text-bold" *ngIf='emailInvalid'>
                Por favor, ingrese correctamente el correo electrónico.*
              </small>
            </div>
            <button type="submit" class="btn btn-primary btn-block w-100 mt-3">Recuperar Contraseña</button>
          </form>
          <button class="mt-3 btn btn-success btn-block" [routerLink]="['/login']">Regresar</button>
        </div>
      </div>
    </div>
  </div>
</div>



  
